.iconButtonWrapper {
  display: flex;
  align-items: baseline;
  max-width: 22.5rem;
  & svg {
    flex: 0 0 auto;
  }
  & button {
    overflow-wrap: break-word;
    word-break: break-all;
    text-align: left;
  }
}
.fileName {
  max-width: 22.5rem;
  margin-left: 0.25rem;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-all;
}
.hideFirstColumn {
  table th:first-child {
    display: none;
  }
  table td:first-child {
    display: none;
  }
}
