.modalHeader {
  color: #505a5f;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 30px 30px 30px 30px;
  border-bottom: 1px solid #b1b4b6;
  background: #f3f2f1;
}
.modalContent {
  padding: 30px 30px 30px 30px;
  min-width: 35rem;
}
.modalButtonWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: baseline;
  button {
    margin: 0;
  }
}
.duplicateList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.duplicateListItem {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  overflow-wrap: break-word;
  word-break: break-all;
  svg {
    min-width: 1.25rem;
    margin-top: 0.1875rem;
  }
}
.duplicateWarningText {
  font-weight: 700;
  margin-top: 0;
}
.duplicateWarningList {
  li {
    margin-bottom: 0.375rem;
  }
}
