.contentWrapper {
  max-width: 80%;
  & :global(.govuk-inset-text) {
    max-width: 80%;
  }
  .btnStartTransfer {
    margin-bottom: 3rem;
  }
  .btnWrapper {
    margin-top: 2.5rem;
    display: flex;
    gap: 0.75rem;
    align-items: baseline;
  }
}
.errorWrapper {
  margin-bottom: 2.5rem;
}
.errorList {
  border: 1px solid #f3f2f1;
  padding: 0 1.5rem 1.5rem 1.5rem;
  margin: 0;
  & li:not(:last-child) {
    border-bottom: 1px solid #b1b4b6;
  }
}
.errorListItem {
  display: inline-grid;
  grid-template-columns: 8fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0 1rem 0;

  align-items: center;
  & span {
    max-width: 50rem;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
  }
  & :global(.govuk-button--secondary) {
    margin-bottom: 0;
  }
  .renameButton {
    justify-self: end;
  }
  .statusTag {
    font-weight: normal;
    color: #2a0b06;
    text-transform: lowercase;
    width: 8.125rem;
    text-align: center;
  }
}

.relativePathWrapper {
  padding: 1.5rem;
  background-color: #f3f2f1;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  & svg {
    min-width: 1.875rem;
    margin-top: 0.25rem;
  }
  & .relativePathText {
    margin: 0;
    color: #003078;
    font-size: 1.1875rem;
    font-weight: 400;
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-all;
  }
}

.fileNameText {
  margin-left: 0.5rem;
}

.successBanner {
  margin-top: 2rem;
  width: 60%;
  .successMessage {
    font-size: 1.5rem;
  }
}
