.contentWrapper {
  width: 66.66%;
  .userActionsList {
    margin-bottom: 2rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
  .continueBtn {
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  .failedFilesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .failedFileItem {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-all;
    margin-bottom: 0.375rem;
    svg {
      min-width: 1.25rem;
      margin-top: 0.1875rem;
    }
  }
}
