<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <packageSources>
      <clear />
      <add key="local-packages" value="local-packages" />
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceMapping>
      <packageSource key="local-packages">
        <package pattern="CPS.ComplexCases.*" />
      </packageSource>
      <packageSource key="nuget.org">
        <package pattern="*" />
      </packageSource>
    </packageSourceMapping>
    <config>
      <add key="globalPackagesFolder" value="packages" />
    </config>
    <packageRestore>
      <add key="enabled" value="True" />
      <add key="automatic" value="True" />
    </packageRestore>
  </configuration>