.username {
  margin-bottom: 1.25rem;
}
.pageContent {
  min-height: 75vh;
}
.rootLayout {
  & :global(.govuk-footer) {
    margin-top: 1.875rem;
  }
}

.rootLayoutV0 {
  & :global(.govuk-width-container) {
    max-width: 87.5rem;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
  }
}
