.username {
  margin-bottom: 1.25rem;
}
.pageContent {
  min-height: 75vh;
}
.rootLayout {
  & :global(.govuk-footer) {
    margin-top: 1.875rem;
  }
  & :global(.govuk-button) {
    width: fit-content;
  }
}
