.username {
  margin-bottom: 1.25rem;
}
.mainContent {
  min-height: 75vh;
  & :global(.govuk-width-container) {
    max-width: 87.5rem;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
  }
}

.header {
  & :global(.govuk-width-container) {
    max-width: 87.5rem;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
  }
}

.footer {
  & :global(.govuk-width-container) {
    max-width: 87.5rem;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
  }
}
