parameters:
  - name: environment
    type: string
  - name: functionAppName
    type: string
  - name: azureSubscription
    type: string
  - name: resourceGroupName
    type: string
  - name: keyVaultName
    type: string
  - name: slotName
    type: string


steps:
  - task: AzureAppServiceSettings@1
    displayName: 'Configure Function App Settings'
    inputs:
      azureSubscription: ${{ parameters.azureSubscription }}
      appName: ${{ parameters.functionAppName }}
      resourceGroupName: ${{ parameters.resourceGroupName }}
      slotName: ${{ parameters.slotName }}
      appSettings: |
        [
          {
            "name": "FUNCTIONS_EXTENSION_VERSION",
            "value": "~4",
            "slotSetting": false
          },
          {
            "name": "FUNCTIONS_WORKER_RUNTIME",
            "value": "dotnet-isolated",
            "slotSetting": false
          },
          {
            "name": "DOTNET_FRAMEWORK_VERSION",
            "value": "v8.0",
            "slotSetting": false
          },
          {
            "name": "KeyVaultUri",
            "value": "https://${{ parameters.keyVaultName }}.vault.azure.net/",
            "slotSetting": false
          },
          {
            "name": "KeyVault__Url",
            "value": "https://${{ parameters.keyVaultName }}.vault.azure.net/",
            "slotSetting": false
          },
          {
            "name": "NetAppOptions__Url",
            "value": "$(NetAppOptionsUrl)",
            "slotSetting": false
          },
          {
            "name": "NetAppOptions__ClusterUrl",
            "value": "$(NetAppOptionsClusterUrl)",
            "slotSetting": false
          },
          {
            "name": "NetAppOptions__RegionName",
            "value": "$(NetAppOptionsRegionName)",
            "slotSetting": false
          },
          {
            "name": "NetAppOptions__PepperVersion",
            "value": "$(NetAppOptionsPepperVersion)",
            "slotSetting": false
          },
          {
            "name": "NetAppOptions__SessionDurationSeconds",
            "value": "$(NetAppOptionsSessionDurationSeconds)",
            "slotSetting": false
          },
          {
            "name": "NetAppOptions__S3ServiceUuid",
            "value": "$(NetAppOptionsS3ServiceUuid)",
            "slotSetting": false
          },
          {
            "name": "EgressOptions__Url",
            "value": "$(EgressOptionsUrl)",
            "slotSetting": false
          },
          {
            "name": "TenantId",
            "value": "$(TenantId)",
            "slotSetting": false
          },
          {
            "name": "CallingAppValidAudience",
            "value": "$(CallingAppValidAudience)",
            "slotSetting": false
          },
          {
            "name": "CallingAppValidRoles",
            "value": "$(CallingAppValidRoles)",
            "slotSetting": false
          },
          {
            "name": "DDEIOptions__BaseUrl",
            "value": "$(DDEIOptionsBaseUrl)",
            "slotSetting": false
          },
          {
            "name": "FileTransferApiOptions__RetryAttempts",
            "value": "$(FileTransferApiOptionsRetryAttempts)",
            "slotSetting": false
          },
          {
            "name": "FileTransferApiOptions__FirstRetryDelaySeconds",
            "value": "$(FileTransferApiOptionsFirstRetryDelaySeconds)",
            "slotSetting": false
          },
          {
            "name": "FileTransfer__PurgeRetention__RetentionDays",
            "value": "$(FileTransferPurgeRetentionRetentionDays)",
            "slotSetting": false
          },
          {
            "name": "FileTransfer__PurgeRetention__Schedule",
            "value": "$(FileTransferPurgeRetentionSchedule)",
            "slotSetting": false
          },
          {
            "name": "SizeConfig__ChunkSizeBytes",
            "value": "$(SizeConfigChunkSizeBytes)",
            "slotSetting": false
          },
          {
            "name": "RedirectUrl__CaseworkApp",
            "value": "$(RedirectUrlCaseworkApp)",
            "slotSetting": false
          },
          {
            "name": "RedirectUrl__LccUi",
            "value": "$(RedirectUrlLccUi)",
            "slotSetting": false
          },
          {
            "name": "SizeConfig__BatchSize",
            "value": "$(SizeConfigBatchSize)",
            "slotSetting": false
          },
          {
            "name": "Postgres__AuthMode",
            "value": "$(PostgresAuthMode)",
            "slotSetting": false
          },
          {
            "name": "WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED",
            "value": "1",
            "slotSetting": false
          },
          {
            "name": "WEBSITE_RUN_FROM_PACKAGE",
            "value": "1",
            "slotSetting": false
          },
          {
            "name": "CryptoOptions__SaltSizeBytes",
            "value": "$(CryptoOptionsSaltSizeBytes)",
            "slotSetting": false
          },
          {
            "name": "CryptoOptions__KeySizeBytes",
            "value": "$(CryptoOptionsKeySizeBytes)",
            "slotSetting": false
          },
          {
            "name": "CryptoOptions__NonceSizeBytes",
            "value": "$(CryptoOptionsNonceSizeBytes)",
            "slotSetting": false
          },
          {
            "name": "CryptoOptions__TagSizeBytes",
            "value": "$(CryptoOptionsTagSizeBytes)",
            "slotSetting": false
          },
          {
            "name": "CryptoOptions__HkdfInfo",
            "value": "$(CryptoOptionsHkdfInfo)",
            "slotSetting": false
          },
          {
            "name": "CryptoOptions__HashAlgorithm",
            "value": "$(CryptoOptionsHashAlgorithm)",
            "slotSetting": false
          },
          {
            "name": "SessionTimeoutMinutes",
            "value": "$(SessionTimeoutMinutes)",
            "slotSetting": false
          },
          {
            "name": "RateLimiting__PermitLimit",
            "value": "$(RateLimitingPermitLimit)",
            "slotSetting": false
          },
          {
            "name": "RateLimiting__IntervalInSeconds",
            "value": "$(RateLimitingIntervalInSeconds)",
            "slotSetting": false
          },
          {
            "name": "SizeConfig__MaxOrchestratorRetries",
            "value": "$(MaxOrchestratorRetries)",
            "slotSetting": false
          },
        ]