.workspaceName {
  margin-bottom: 0;
}

.urnText {
  color: #505a5f;
  margin-bottom: 1.2rem;
}
.pageLoadingSpinnerWrapper {
  inset: 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-bottom: 12.5rem;
}
