.dropDownButtonWrapper {
  position: relative;
  width: fit-content;
  & :global(.govuk-button--secondary) {
    margin: 0;
    text-align: left;
  }
}

.dropDownButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0;
}
.upArrow {
  svg {
    transform: rotate(-180deg);
  }
}

.panel {
  position: absolute;
  top: 2.6rem;
  width: 250px;
  right: 0;
  background: #fff;
  z-index: 7;
  .panelList {
    & :global(.govuk-button--secondary) {
      width: 100%;
      border-bottom: 1px solid #b1b4b6;
    }
  }
}

.panelList {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.panelListWithSeparator {
  & li:last-child {
    border-top: 1px solid #b1b4b6;
  }
}

.panelListItem {
  width: 100%;
  margin-bottom: 1px;
}

.dropdownBtnName {
  padding-right: 0.15rem;
  padding-top: 2rem;
  font-size: 1.1875rem;
}
