.results {
  position: relative;
  padding: 0;
  & :global(.govuk-button--secondary) {
    margin-bottom: 0;
    font-size: 1rem;
  }
  & :global(.govuk-table__row:last-child .govuk-table__cell) {
    border-bottom: none;
  }
  .folderWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .spinnerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5rem;
    & .spinnerText {
      margin-top: 1rem;
    }
  }
}
