.orderedList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  li:not(:first-child)::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.3rem;
    width: 0.4rem;
    height: 0.4rem;
    margin: auto 0;
    transform: rotate(45deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #505a5f;
  }
  li:first-child {
    padding-left: 0;
    & button,
    span {
      padding-left: 0;
      margin: 0.125rem 0.125rem 0.125rem 0;
    }
  }
  & button {
    overflow-wrap: break-word;
    word-break: break-all;
    text-align: left;
  }
}

.listItem {
  overflow-wrap: break-word;
  word-break: break-all;
  text-align: left;
  position: relative;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
  .currentFolderName {
    margin-left: 0.5rem;
    color: #505a5f;
  }
}
