.results {
  .statusTag {
    text-transform: capitalize;
    font-weight: normal;
  }
  & :global(.govuk-button--secondary) {
    margin-bottom: 0;
    font-size: 1rem;
  }
  & :global(.govuk-table__cell) {
    vertical-align: middle;
  }
  & :global(.govuk-table) {
    & th {
      min-width: 350px;
    }
  }
}

.noResultsContent {
  margin-top: 2rem;
  margin-bottom: 2rem;
  & :global(.govuk-list) {
    margin-top: 1rem;
  }
}

.searchResultsCount {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #b1b4b6;
}
