.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5rem;
  & button {
    margin: 0;
    height: 2.375rem;
    margin-bottom: 0.125rem;
  }
  .btnWrapper {
    min-height: 4.375rem;
  }

  & :global(.govuk-form-group):first-of-type {
    width: 25rem;
  }
}

.errorSummaryWrapper {
  margin-top: 1rem;
  max-width: 30rem;
  &:focus {
    outline: 0.2rem solid #ffdd00;
  }
  & :global(.govuk-error-message) {
    max-width: 25rem;
  }
}
