.titleWrapper {
  display: flex;
  align-items: center;
  background: #f3f2f1;
  h3 {
    margin-left: 1rem;
  }
}

.contentWrapper {
  padding: 1rem;
}
.activities {
  border: 1px solid #b1b4b6;
}
.titleText {
  margin-bottom: 1rem;
  .lastUpdatedText {
    color: #505a5f;
  }
  h2 {
    margin-bottom: 0;
  }
}
