.listContent {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.listItem {
  margin-bottom: 0.5rem;
  .statusTag {
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
    margin-left: 0.5rem;
    color: #2a0b06;
    margin-top: 0.1875rem;
  }
}

.list {
  padding-left: 1.3rem;
}

.relativePathWrapper,
.fileNameWrapper {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  & svg {
    min-width: 1.875rem;
    margin-top: 0.25rem;
  }
}
.relativePathText,
.fileNameText {
  margin: 0;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
}

.relativePathText {
  font-weight: bold;
}
.fileNameText {
  margin-top: 0.1875rem;
}

.seperator {
  border-bottom: 1px solid #b1b4b6;
}
