.contentTop {
  padding: 0 0 1.5rem 0;
  border-bottom: 1px solid #b1b4b6;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5rem;
  & button {
    margin: 0;
    height: 2.375rem;
    margin-bottom: 0.125rem;
  }
  .btnWrapper {
    min-height: 4.375rem;
  }
  & :global(.govuk-error-message) {
    max-width: 25rem;
  }
  & :global(.govuk-form-group):first-of-type {
    width: 25rem;
  }
}

.searchResultsCount {
  display: block;
}

.errorSummaryWrapper {
  margin-top: 1rem;
  max-width: 30rem;
  &:focus {
    outline: 0.2rem solid #ffdd00;
  }
}

.noResultsContent {
  margin-top: 2rem;
  margin-bottom: 2rem;
  & :global(.govuk-list) {
    margin-top: 1rem;
  }
}

.link {
  color: #1d70b8;
}

.results {
  margin-top: 2.5rem;
  .statusTag {
    text-transform: capitalize;
    font-weight: normal;
  }
}
