.results {
  margin-top: 2.5rem;
  .statusTag {
    text-transform: none;
    font-weight: normal;
    font-size: 19px;
    letter-spacing: normal;
  }
  & :global(.govuk-table__cell:last-child) {
    text-align: right;
  }
}

.noResultsContent {
  margin-top: 2rem;
  margin-bottom: 2rem;
  & :global(.govuk-list) {
    margin-top: 1rem;
  }
}

.link {
  color: #1d70b8;
}
